certifi==2024.2.2
charset-normalizer==3.3.2
future==1.0.0
idna==3.7
iso8601==2.1.0
joblib==1.4.2
numpy==1.26.4
pyserial==3.5
python-dateutil==2.9.0.post0
PyYAML==6.0.1
requests==2.32.2
scikit-learn==1.5.0
scipy==1.13.1
serial==0.0.97
six==1.16.0
threadpoolctl==3.5.0
urllib3==2.2.1
